<div
  *ngIf="router.url === '/recipe/list' || router.url === '/recipe/grid'"
  class="mb-3"
>
  <h3 class="mb-0">
    <span>Recipes</span>
  </h3>
</div>
<div
  *ngIf="router.url === '/recipe/list' || router.url === '/recipe/grid'"
  class="mt-4 d-flex justify-content-center"
>
  <button [routerLink]="['/recipe', 'create']" class="btn btn-dark">
    Create Recipe
  </button>
</div>
<div
  *ngIf="
    (router.url === '/recipe/list' || router.url === '/recipe/grid') &&
    recipes.length > 0
  "
  class="d-flex justify-content-between align-items-center mt-4"
>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/recipe/list']"
        [routerLinkActive]="'active bg-dark'"
        (click)="onViewModeSelect('list')"
        >List</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/recipe/grid']"
        [routerLinkActive]="'active bg-dark'"
        (click)="onViewModeSelect('grid')"
        >Grid</a
      >
    </li>
  </ul>
  <div class="d-flex flex-column">
    <small><i class="bi bi-circle-half"></i> Prep Time</small>
    <small><i class="bi bi-stopwatch"></i> Cook Time</small>
  </div>
</div>
<router-outlet></router-outlet>
